{% style %}
  .cwc_product-template__guarantee_text,
  .cwc-featured-product__guarantee_text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 12px;
  }
  .cwc-featured-product__guarantee_text_wrapper {
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .cwc-featured-product__guarantee_text-content > *,
  .cwc-featured-product__guarantee_text-content {
    font-size: 1.03rem;
    font-size: 0.98rem;
  }
  .cwc-featured-product__guarantee_text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -2px; */
  }
  .cwc-featured-product__guarantee_text-icon_img {
    height: auto;
    width: auto;
  }
  .cwc-featured-product__guarantee_text-icon svg {
    /* max-height: 18px; */
    width: auto;
    height: 18px;
  }

  @media (max-width: 991px) {
    .cwc-featured-product__guarantee_text-content > *,
    .cwc-featured-product__guarantee_text-content {
      font-size: 0.988125rem;
    }
    .cwc-featured-product__guarantee_text-icon_img {
      height: 14px;
      width: auto;
    }
    .cwc_product-template__guarantee_text,
    .cwc-featured-product__guarantee_text {
      margin-bottom: 1.25rem;
    }

    .cwc-featured-product__guarantee_text-content {
      grid-gap: 3.2px;
      font-size: 0.875rem;
      line-height: 17.6px;
      margin-top: 0rem;
    }

    .cwc-featured-product__guarantee_text-icon {
    }

    .cwc-featured-product__guarantee_text-content {
    }

    .cwc_product-template__guarantee_text {
      margin-top: 10px;
    }
  }
  @media (max-width: 768px) {
    .cwc-featured-product__guarantee_text-content > *,
    .cwc-featured-product__guarantee_text-content {
      font-size: 0.91rem;
    }
  }
{% endstyle %}

{% if block.settings.text != blank %}
  <div class="cwc-featured-product__guarantee_text_wrapper">
    <span class="cwc-featured-product__guarantee_text-icon">
      {% comment %}
        <img
          class="cwc-featured-product__guarantee_text-icon_img"
          src="{{ block.settings.icon | image_url: width: 18 }}"
          alt="{{ block.settings.icon.alt }}"
          width="auto"
          height="auto"
        >
      {% endcomment %}

      {%- render 'CWC_icon-check_badge', fill_color: '#000' -%}
    </span>
    <span class="cwc-featured-product__guarantee_text-content">
      {{ block.settings.text }}
    </span>
  </div>
{% endif %}
