{% style %}
  .cwc_product-template__faq,
  .cwc-featured-product__faq {
    border-bottom: 1px solid #e5e5e5;
    background: white;
    color: black;
    margin-bottom: 11px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(228, 228, 228, 1);
    width: 100%;
    box-sizing: border-box;
  }

  .cwc-featured-product__faq-question {
    color: #111111;
    transition: all 0.3s ease-in-out;
    width: 100%;
    background: none;
    border: none;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    gap: 1rem;

    padding: 0.9rem 1.25rem 0.8rem 1.25rem;
  }

  .cwc-featured-product__faq-question:hover {
    /* color: #125657; */
  }

  .cwc-featured-product__faq-icon {
    font-size: 1.25rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
  }

  .cwc-featured-product__faq-answer {
    max-height: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 0 38px 0 38px; /* Add horizontal padding by default */
    word-break: normal;
    /* word-break: break-all; */

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-break: break-word;

    padding: 0px 1.25rem 0px 1.25rem;
  }

  .cwc-featured-product__faq-answer > * {
    /* word-break: normal; */
    /* max-height: 0; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
  }

  .cwc_product-template__faq.active .cwc-featured-product__faq-answer,
  .cwc-featured-product__faq.active .cwc-featured-product__faq-answer {
    padding-bottom: 1.25rem; /* Add bottom padding when active */
    padding-bottom: 0rem; /* Add bottom padding when active */
    margin-bottom: 1.25rem;
  }

  .cwc-featured-product__faq-answer p,
  .cwc-featured-product__faq-answer ul {
    margin: 0 0 1rem 0;
    line-height: 1.6;
    /* color: inherit; */
  }

  .cwc-featured-product__faq-answer p:last-child {
    /* margin-bottom: 0; */
  }

  .cwc-featured-product__faq-answer ul {
    padding-left: 1.5rem;
  }

  .cwc-featured-product__faq-answer li {
    margin-bottom: 0.5rem;
  }
  .cwc_product-template__faq.desktop__only,
  .cwc-featured-product__faq.desktop__only {
    display: block;
  }

  .cwc_product-template__faq.mobile__only,
  .cwc-featured-product__faq.mobile__only {
    display: none;
  }

  @media (max-width: 991px) {
    .cwc_product-template__faq.desktop__only,
    .cwc-featured-product__faq.desktop__only {
      display: none;
    }

    .cwc_product-template__faq.mobile__only,
    .cwc-featured-product__faq.mobile__only {
      display: block;
    }

    .cwc-featured-product__faq-question {
      font-size: 0.9375rem; /* 15px */
      padding: 1rem 1.25rem; /* 16px 20px */

      padding: 1.0625rem 0.9375rem; /* 17px 15px */
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
    }

    .cwc-featured-product__faq-icon {
      font-size: 0.875rem; /* 14px */
    }
    .cwc-featured-product__faq-answer {
      padding: 0 1.25rem 0 1.25rem;

      font-size: 0.9375rem; /* 15px */
      padding: 1rem 1.25rem; /* 16px 20px */

      padding: 0rem 0.9375rem; /* 17px 15px */
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
    }

    .cwc_product-template__faq.active .cwc-featured-product__faq-answer,
    .cwc-featured-product__faq.active .cwc-featured-product__faq-answer {
      margin-bottom: 0.5rem;
      margin-bottom: 0rem;
    }
    .cwc-featured-product__faq-answer p,
    .cwc-featured-product__faq-answer ul {
      line-height: 1.6;
      font-size: 0.875rem;
    }
  }
{% endstyle %}

<button class="cwc-featured-product__faq-question" type="button">
  {{ block.settings.title }}
  <span class="cwc-featured-product__faq-icon">+</span>
</button>
<div class="cwc-featured-product__faq-answer">
  {{ block.settings.content }}
</div>
