{% style %}
  .cwc_product-template__benefits,
  .cwc-featured-product__benefits {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
    margin-bottom: 1.6875rem;
    column-gap: 1rem;

    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 5.65px;
    background: #d4d4d41a;
    /*  */
    background: white;
    margin-bottom: 1.5rem;
    /*  */
    margin-bottom: 1rem;
  }

  .cwc-featured-product__benefit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 0rem 0.5rem 0rem;
    /* background: #f8f9fa; */
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #125657;
    width: 30%;
    width: 45%;
    width: 100%;
  }
  .cwc-featured-product__benefit img {
    width: auto;
    height: 1.198rem;
    object-fit: contain;
  }

  .cwc-featured-product__benefit .cwc-featured-product__benefit-text {
    font-size: 1rem;
  }
  @media (max-width: 991px) {
    .cwc_product-template__benefits,
    .cwc-featured-product__benefits {
      gap: 0.5rem;
    }
    .cwc-featured-product__benefit {
      width: 45%;
      width: 100%;
    }

    .cwc_product-template__benefits,
    .cwc-featured-product__benefits {
      padding: 0rem 0rem;
      border-radius: 5.65px;
      background: none;
    }
    .cwc-featured-product__benefit {
      padding: 0.4rem 0rem;
      font-size: 0.875rem;
    }
    .cwc_product-template__benefits,
    .cwc-featured-product__benefits {
      gap: 0rem;
    }
  }

  @media (max-width: 768px) {
    .cwc-featured-product__benefit {
      font-size: 0.85rem;
      padding: 2px 0rem;
    }
    .cwc-featured-product__benefit img {
      height: 1.19625rem;
    }
    ..cwc-featured-product__benefit {
      gap: 4px;
    }
    .cwc-featured-product__benefit {
      line-height: normal;
      margin-bottom: 4px;
    }

    .cwc-featured-product__benefit-text {
      /* font-size: 0.875rem; */
    }
  }
{% endstyle %}

{% for i in (1..6) %}
  {% assign icon_key = 'icon' | append: i %}
  {% assign text_key = 'text' | append: i %}
  {% if block.settings[icon_key] != blank or block.settings[text_key] != blank %}
    <div class="cwc-featured-product__benefit rte">
      {% if block.settings[icon_key] != blank %}
        <img
          src="{{ block.settings[icon_key] | image_url: width: 20 }}"
          alt="{{ block.settings[icon_key].alt }}"
        >
      {% endif %}
      <p class="cwc-featured-product__benefit-text">{{ block.settings[text_key] }}</p>
    </div>
  {% endif %}
{% endfor %}
