.cwc_overlay_compare_table {
  background: var(--section-bg);
  color: var(--text-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.cwc_overlay_compare_table .cwc_overlay_compare_table-inner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.cwc_overlay_compare_table .compare-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cwc_overlay_compare_table .compare-subtext {
  font-size: 1rem;
  opacity: 0.85;
  margin-bottom: 2rem;
}

.cwc_overlay_compare_table .compare-table-wrapper {
  position: relative;
  /* padding-top: 5rem; */
  padding-bottom: 5rem;
}

.cwc_overlay_compare_table .compare-row.rows:last-of-type .compare-cell.brand {
  margin-bottom: -3rem;
}

.cwc_overlay_compare_table .compare-row.rows:last-of-type .compare-cell.brand .cell.enrichd {
  margin-top: -2rem;
}

.cwc_overlay_compare_table .compare-features {
  flex: 0 0 45%;
  max-width: 45%;
  padding-left: 1rem;
  text-align: left;
}

.cwc_overlay_compare_table .compare-competitor {
  flex: 0 0 30%;
  max-width: 30%;
}

.cwc_overlay_compare_table .compare-features {
  padding-left: 1rem;
  text-align: left;
}

.cwc_overlay_compare_table .compare-col-title {
  font-weight: bold;
  padding: 0.75rem 0;
}

.cwc_overlay_compare_table .compare-row-label,
.cwc_overlay_compare_table .compare-icon {
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
}

.cwc_overlay_compare_table .overlay-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.cwc_overlay_compare_table .overlay-head img {
  /* max-width: 60px; */
  width: auto;
  height: auto;
}

.cwc_overlay_compare_table .cwc_overlay_compare-table-row {
  display: flex;
}

.cwc_overlay_compare_table .cwc_overlay_compare-table-row .col-1 {
  flex: 0 0 45%;
}

.cwc_overlay_compare_table .cwc_overlay_compare-table-row .col-2,
.cwc_overlay_compare_table .cwc_overlay_compare-table-row .col-3 {
  flex: 0 0 35%;
}

.cwc_overlay_compare_table .compare-row {
  display: contents;
}

.cwc_overlay_compare_table .compare-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  padding: 1rem;
}

.cwc_overlay_compare_table .compare-cell.label {
  justify-content: flex-start;
  font-weight: 400;
  text-align: left;
}

.cwc_overlay_compare_table .compare-row.head .compare-cell.comp {
  height: 60%;
  align-self: flex-end;
}

.cwc_overlay_compare_table .compare-row.head .compare-cell.label {
  font-size: 2rem;
  align-items: center;
  height: 60%;
  align-self: flex-end;
  font-weight: 600;
}

.cwc_overlay_compare_table .compare-row.head .compare-cell.comp img {
  max-height: 100%;
  max-width: 100%;
}

.cwc_overlay_compare_table .compare-row.head .compare-cell.brand img {
  max-height: 100%;
  max-width: 100%;
}


.cwc_overlay_compare_table .compare-cell.comp,
.cwc_overlay_compare_table .compare-cell.brand {
  padding: 0rem;
}

.cwc_overlay_compare_table .compare-row.head .compare-cell.brand {
  height: 80%;
  align-self: self-end;
  padding: 1rem 0rem;
}


/* === Shared Table Layout === */
.cwc_overlay_compare_table .compare-table {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-columns: 48% 26% 26%;
  border-radius: 30px;
  overflow: visible;
  position: relative;
  width: 100%;
}


/* === LEFT COLUMN (features) === */
.cwc_overlay_compare_table .compare-cell.label {
  border-left: 2px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.cwc_overlay_compare_table .compare-row:first-child .compare-cell.label {
  border-top: 2px solid var(--border-color);
  border-top-left-radius: 20px;
}

.cwc_overlay_compare_table .compare-row:last-child .compare-cell.label {
  border-bottom: 2px solid var(--border-color);
  border-bottom-left-radius: 20px;
}

/* === CENTER COLUMN (BRAND / floating) === */
.cwc_overlay_compare_table .compare-cell.brand {
  background-color: var(--brand-column-bg);
  z-index: 2;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);

  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.cwc_overlay_compare_table .compare-row:first-child .compare-cell.brand {
  border-top: 2px solid var(--border-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cwc_overlay_compare_table .compare-row:last-child .compare-cell.brand {
  border-bottom: 2px solid var(--border-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: -3rem;
  /* to give floaty look */
}

/* === RIGHT COLUMN (competitor) === */
.cwc_overlay_compare_table .compare-cell.comp {
  border-right: 2px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.cwc_overlay_compare_table .compare-row:first-child .compare-cell.comp {
  border-top: 2px solid var(--border-color);
  border-top-right-radius: 20px;
}

.cwc_overlay_compare_table .compare-row:last-child .compare-cell.comp {
  border-bottom: 2px solid var(--border-color);
  border-bottom-right-radius: 20px;
}

.cwc_overlay_compare_table .other_brands {
  display: block;
  position: absolute;
  top: -15px;
  top: 5rem;
  font-size: 1.1rem;
}


/* === TABLE SVG's (competitor) === */
.cwc_overlay_compare_table .cell.enrichd,
.cwc_overlay_compare_table .cell.competitor {
  display: flex;
}


/* === MOBILE SPECIFIC STYLE =========================== */
@media screen and (max-width: 768px) {

  .cwc_overlay_compare_table {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cwc_overlay_compare_table .compare-table {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-columns: 54% 23% 23%;
  }

  .cwc_overlay_compare_table .compare-row.head .compare-cell.brand {
    padding: .5rem 0rem;
  }

  /* === TABLE SVG's (competitor) === */
  .cwc_overlay_compare_table .cell.enrichd,
  .cwc_overlay_compare_table .cell.competitor {
    display: flex;
    width: 20px;
    height: auto;

  }

  .cwc_overlay_compare_table .cwc_overlay_compare_table {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .cwc_overlay_compare_table .compare-row.head .compare-cell.label {
    font-size: 1rem;
    align-items: center;
    height: 60%;
    align-self: flex-end;
    font-weight: 600;
  }

  .cwc_overlay_compare_table .compare-cell {
    padding: .5rem;
    font-size: .8rem;
  }

  .cwc_overlay_compare_table .other_brands {
    display: none;
    /* font-size: 10px; */
    /* top: 2rem; */
  }

  .cwc_overlay_compare_table .compare-overlay {
    position: relative;
    transform: none;
    left: 0;
    margin: 2rem 0;
  }

  .cwc_overlay_compare_table .compare-table {
    padding: 0;
  }

  .cwc_overlay_compare_table .compare-title {
    font-size: 1.4rem;
  }

  .cwc_overlay_compare_table .compare-subtext {
    font-size: 0.9rem;
  }

  .cwc_overlay_compare_table .overlay-head img {
    max-width: 40px;
  }

  .cwc_overlay_compare_table .compare-overlay {
    border-radius: 4px;
  }

  .cwc_overlay_compare_table .compare-table {
    /* flex-direction: column; */
  }

  .cwc_overlay_compare_table .compare-col {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
  }

  .cwc_overlay_compare_table .compare-row.rows:last-of-type .compare-cell.brand {
    margin-bottom: -1rem;
  }

  .cwc_overlay_compare_table .compare-row:first-child .compare-cell.label {
    border-top-left-radius: 14px;
  }

  .cwc_overlay_compare_table .compare-row:last-child .compare-cell.label {
    border-bottom-left-radius: 14px;
  }

  .cwc_overlay_compare_table .compare-row:first-child .compare-cell.brand {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .cwc_overlay_compare_table .compare-row:last-child .compare-cell.brand {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    /* to give floaty look */
  }

  .cwc_overlay_compare_table .compare-row:first-child .compare-cell.comp {
    border-top-right-radius: 14px;
  }

  .cwc_overlay_compare_table .compare-row:last-child .compare-cell.comp {
    border-bottom-right-radius: 14px;
  }
}