.cwc_image_bullets_compare {
  background-color: var(--section-bg);
  padding: var(--padding-top) 2rem var(--padding-bottom);
  color: var(--text-color);
}

.cwc_image_bullets_compare-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.cwc_image_bullets_compare-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  flex-wrap: wrap;
}

.compare-title {
  font-size: 2rem;
}

.compare-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  gap: 1.5rem;
  position: relative;
}

.compare-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.compare-bullets {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.compare-bullet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  gap: 1rem;
}

.compare-bullets.brand .compare-bullet {
  background-color: var(--brand-bullet-bg);
  color: var(--brand-bullet-text);
  justify-content: flex-start;
  flex-direction: row-reverse;
  background: linear-gradient(180deg, #eca673 0%, #c75830 104.55%);
}

.compare-bullets.competitor .compare-bullet {
  background-color: var(--competitor-bullet-bg);
  color: var(--competitor-bullet-text);
}

.bullet-icon {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-column.brand .compare-image {
  position: relative;
}

.compare-vs-badge {
  position: absolute;
  top: 50%;
  right: calc(0% - 1rem);
  transform: translate(50%, -50%);
  background: var(--text-color);
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 100%;
  z-index: 9;
  background: black;
  height: 6rem;
  width: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.compare-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-direction: column;
  margin: auto;
}

/* Mobile */

@media screen and (max-width: 768px) {
  .cwc_image_bullets_compare {
    padding: var(--padding-top) 1rem var(--padding-bottom);
  }

  .compare-header>* {
    text-align: center;
  }

  .compare-title {
    font-size: 1.5rem;
  }

  .compare-bullets {
    gap: 0.5rem;
  }

  .compare-vs-badge {
    right: calc(0% - 0.5rem);
    height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
  }

  .CWC_image_bullets_compare-inner {
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
  }

  .compare-columns {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .compare-bullet {
    padding: 0.5rem;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .compare-bullets {
    margin-top: 0.5rem;
  }

  .compare-bullet,
  .compare-image img {
    border-radius: 4px;
  }
}