  .cwc_product-card {}

  .cwc_product-card {}

  .cwc_product-card .text-truncate--line {
      font-size: 1.1rem;
      line-height: 146%;
  }



  .cwc_product-card .product-grid--title,
  .cwc_product-card .cwc_product-card-price,
  .cwc_product-card .product-grid--rating {
      margin-top: .5rem;
  }

  .cwc_product-card .product-price-group {
      display: flex;
      gap: .5rem;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
  }

  .cwc_product-card .sale-price {
      color: #727272;
      text-decoration: line-through;
      margin-bottom: 0rem;
  }

  .cwc_product-card .cwc_product-card-price {}

  @media screen and (max-width: 767px) {
      .cwc_product-card .text-truncate--line {
          font-size: 1rem;
      }

      .cwc_product-card .product-grid--title,
      .cwc_product-card .cwc_product-card-price,
      .cwc_product-card .product-grid--rating {
          margin-top: 5px;
      }
  }

  .CWC_best_sellers-wrapper {
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .CWC_best_sellers-inner {
      max-width: 1200px;
      margin: 0 auto;
  }

  .CWC_best_sellers-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      gap: 1rem;
  }

  .CWC_best_sellers-header h2 {
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
  }

  .CWC_best_sellers-button-desktop,
  .CWC_best_sellers-button-mobile>a {
      background: #fff;
      border: 1px solid #ccc;
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
      text-align: center;
      font-size: 15px;
      font-size: .8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 126%;
      text-transform: uppercase;

  }

  .CWC_best_sellers-button-mobile>a {
      font-size: 1rem;
      padding: 1rem 2rem;
      width: 60%;
  }

  .CWC_best_sellers-button-desktop:hover,
  .CWC_best_sellers-button-mobile:hover {
      transform: translateY(-1px);
  }

  .CWC_best_sellers-button-mobile {
      display: none;
      margin-top: 2rem;
      justify-content: center;
  }

  .CWC_best_sellers-grid {
      display: grid;
      gap: 1.5rem;
      row-gap: 2.5rem;
      grid-template-columns: repeat(4, 1fr);
  }

  /* @media screen and (max-width: 1024px) { */
  @media screen and (max-width: 767px) {

      .CWC_best_sellers-wrapper {
          padding-left: 1rem;
          padding-right: 1rem;
      }

      .CWC_best_sellers-header h2 {
          font-size: 1.5rem;
          padding: 0rem 1rem;
      }

      .CWC_best_sellers-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          row-gap: 1.5rem;
      }

      .CWC_best_sellers-button-desktop {
          display: none;
      }

      .CWC_best_sellers-button-mobile {
          display: flex;
      }

      .CWC_best_sellers-header {
          flex-direction: column;
          align-items: center;
          text-align: center;
      }
  }