.CWC_column_highlights {
    background-color: var(--section-bg);
    color: var(--text-color);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: 2rem;
    padding-right: 2rem;
}

.CWC_column_highlights-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight-image {
    margin-bottom: 1.5rem;
}

.highlight-image img {
    max-width: 250px;
    height: auto;
    border-radius: 6px;
}

.CWC_column_highlights-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.CWC_column_highlights-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: var(--title-color);
}

.CWC_column_highlights-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns-desktop), 1fr);
    gap: 2rem;
}

.CWC_column_highlights-item {
    text-align: center;
}

.CWC_column_highlights-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

.CWC_column_highlights-item .title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.CWC_column_highlights-item .text {
    font-size: 0.95rem;
    opacity: 0.85;
    max-width: 320px;
    margin: 0 auto;
}

.CWC_column_highlights-wrapper .highlight-text p {
    font-size: 1.1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 146%;
}


@media screen and (max-width: 768px) {

    .CWC_column_highlights-wrapper .highlight-text p {
        line-height: 146%;
        font-size: 1.05rem;
    }

    .CWC_column_highlights {
        padding-top: var(--padding-top-mobile);
        padding-bottom: var(--padding-bottom-mobile);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .CWC_column_highlights-title {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .highlight-image {
        margin-bottom: 1rem;
        max-width: 80%;
    }

    .highlight-image img {
        max-width: 200px;
    }


    .CWC_column_highlights-grid {
        display: grid;
        grid-template-columns: repeat(var(--columns-mobile), 1fr);
        gap: 1rem;
    }

    .CWC_column_highlights.is-scrollable .CWC_column_highlights-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 1rem;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */
    }

    .CWC_column_highlights.is-scrollable .CWC_column_highlights-grid::-webkit-scrollbar {
        display: none;
        /* Chrome/Safari */
    }

    .CWC_column_highlights.is-scrollable .CWC_column_highlights-grid .CWC_column_highlights-card {
        flex: 0 0 65%;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }



}