  .cwc_category_cards_grid-wrapper {
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .cwc_category_cards_grid-inner {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
  }

  .cwc_category_cards_grid-heading {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
      padding: 0rem 1rem;
  }

  .cwc_category_cards_grid-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;
  }

  .cwc_category_cards_grid-card {
      flex: 1 1 calc(25% - 1.125rem);
      text-align: center;
  }

  .cwc_category_cards_grid-card img {
      width: 100%;
      /* border-radius: 8px; */
      display: block;
  }

  .cwc_category_cards_grid-label {
      margin-top: 0.75rem;
      font-size: 1rem;
      font-weight: 500;
  }

  @media screen and (max-width: 767px) {
      .cwc_category_cards_grid-grid {
          gap: 1rem;
      }

      .cwc_category_cards_grid-heading {
          font-size: 1.5rem;
      }

      .cwc_category_cards_grid-card img {
          width: 100%;
          /* border-radius: 4px; */
      }

      .cwc_category_cards_grid-card {
          flex: 1 1 calc(50% - 0.75rem);
      }

      .cwc_category_cards_grid-wrapper {
          padding-left: 1rem;
          padding-right: 1rem;
      }
  }